#navigationbar {
  background-color: #e3f2fd;
  height: 55px;
}

.navbar-brand {
  margin-right: 50px;
}

/* Menu icon */
.togglemenu {
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  cursor: pointer;
  size: 5%;
  padding-right: 25px;
}

/* Side menu */

.menu {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 60px;
  height: 94.1vh;
  padding: 0 5px;
  background-color: #79bac1;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.menu ul {
  padding: 15px 0 0 0;
  overflow: hidden;
  visibility: hidden;
}

.menu ul li {
  line-height: 60px;
  list-style: none;
}

.menu ul li span {
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.menu ul li a {
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.menu ul li a:hover {
  background-color: #222;
}





/*------------------------------------------OPGAVER index.html------------------------------------------*/

.opgavebtn {
  width: 70%;
  text-align: left;
  margin: 0.5rem 0 0.5rem;
  padding: 0.5rem 0.5rem 1rem;
}

/* Højre side */
.container-right {
  margin: 2rem 0;
  padding-left: 50%; 
  text-align: center;
}

.opgave-button {
  margin-bottom: 2rem;
} 

.smiley {
  width: 10%;
  position: relative;
  left: 18rem;
}

.uopgave {
  background-color: #79bac1;
  outline-color: black;
}