#navigationbar {
  background-color: #e3f2fd;
  height: 55px;
}

.navbar-brand {
  margin-right: 50px;
}

/* Menu icon */
.togglemenu {
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  cursor: pointer;
  size: 5%;
  padding-right: 25px;
}

/* Side menu */

.menu {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 60px;
  height: 94.1vh;
  padding: 0 5px;
  background-color: #79bac1;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.menu ul {
  padding: 15px 0 0 0;
  overflow: hidden;
  visibility: hidden;
}

.menu ul li {
  line-height: 60px;
  list-style: none;
}

.menu ul li span {
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.menu ul li a {
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.menu ul li a:hover {
  background-color: #222;
}



/*------------------------------------------OPGAVER index.html------------------------------------------*/

/* Venstre side */

.container-left {
  margin: 2rem 0;
  position: absolute;
  height: 70%;
  width: 50%;
  right: 50%;
}

.center {
  text-align: center;
}

.subject-button {
  margin-bottom: 2rem;
  text-align: center;
}

.matbox {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 2rem;
  width: 100%;
}

.danbox {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}

.hisbox {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}

.td {
  width: 30%;
}


/* Højre side */
.opgavebtn {
  width: 70%;
  text-align: left;
  margin: 0.5rem 0 0.5rem;
  padding: 0.5rem 0.5rem 1rem;
}

.container-right {
  margin: 2rem 0;
  position: absolute;
  left: 50%;
  text-align: center;
}

.opgave-button {
  margin-bottom: 2rem;
  width: 40rem;
} 

.smiley {
  width: 7%;
  height: 7%;
  float: right;
}


.raekke {
  width: 35%
}

/*------------------------------------------OPGAVER opgaver.html------------------------------------------*/

.opgave-x-box {
  position: relative;
  right: 200px;
  width: 47%;
  height: 50px; 
  margin-left: 240px;
  background-color: #79bac1;
  border-radius: 15px;
  padding: 10px 5px 15px;
}

.beskrivelse-box {
  position: relative;
  right: 200px;
  bottom: 2px;
  width: 47%;
  height: 166px;
  margin-top: 30px;
  margin-left: 240px;
  background-color: #79bac1;
  border-radius: 15px;
  padding: 10px 5px 15px;
}
.besvarelse-box {
  position: relative;
  right: 200px;
  width: 47%;
  height: 166px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 240px;
  background-color: #79bac1;
  border-radius: 15px;
}

.b-box {
  text-align: left;
  width: 65%;
  height: 65%;
  margin: 30px 150px 100px 200px;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 15px;
}

.side-box {
  position: relative;
  display: inline;
  background-color: #79bac1;
  border-radius: 15px;
  left: 53%;
  top: 49px;
  margin-left: 10px;
  padding: 10px 25px;
}
.timer-box {
  position: relative;
  display: inline-flex;
  width: 8%;
  background-color: #79bac1;
  border-radius: 15px;
  left: 53%;
  top: 49px;
  padding: 10px 25px;
}

.hint-side{
  position: absolute;
  background-color: #79bac1;
  border-style: solid;
  display: inline-flex;
  left: 1600px;
  bottom: 620px;
  position: relative;
  width: 15%;
  height: 525px;
  border-radius: 15px;
}

.hint-button{
  width: 65%;
  height: 10%;
  position: relative;
  right: 175px;
  margin: 30px 150px 100px 200px;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 15px;
}

