<!DOCTYPE html>
<html lang="en">

<head>
<!--BASIC HTML-->  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forside</title>

<!--LINKS-->    
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="css/style.css">

<!--SCRIPTS-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    <script defer src="../js/bulma.js"></script>
</head>

<body>
    <%- include('navbar')  %>

    <section class="has-text-centered">
        <p class="is-size-1">Velkommen tilbage,  <%= navn %> <%= elevEfternavn %>  </p>
    </section> 
</body>
</html>