<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Band Template</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
</head>

<body>
    <!-- nav bar -->
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
           <p>Aalborg universitet</p>
          </a>
      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
    

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Hjem
            </a>
      
            <a class="navbar-item">
              Opgaver
            </a>
      
            <a class="navbar-item">
                Hjælpemidler
              </a>

              <a class="navbar-item">
               Oversigt
              </a>  
           

          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Intranet</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

<!--Oversigts body-->
  <div class="box">
    <div class="box">
      <div class="columns has-text-centered">
        <div class="column">
          <p class="bd-notification is-info"> <strong>Navn:</strong> <%= laerer_navn %> <%= laerer_efternavn %>  </p>
        </div>
        <div class="column">
          <p class="bd-notification is-danger"> <strong>Email:</strong> <%= laerer_email %> </p>
        </div>
        <div class="column">
          <p class="bd-notification is-danger has-text-centered"> <strong>Klasser:</strong> 7a - 8b - 9a </p>
        </div>
      </div>
    </div>


    <div class="box">

      <div class="columns is-mobile has-text-centered">
          <div class="column is-half centered-text"> 
            <p class="is-size-3">7.a Matematik</p> 
            <p> <a>Se klasseliste</a></p> 
            <p> <a>Se opgaveliste</a></p>
          </div>
        <div class="column is-half">
          <img src="http://localhost:3000/images/testgraph.png" alt="">
        </div>
      </div>
    </div>

    <div class="box">
      <div class="columns is-mobile has-text-centered">
        <div class="column is-half centered-text"> 
          <p class="is-size-3">8.b Matematik</p> 
          <p> <a>Se klasseliste</a></p> 
          <p> <a>Se opgaveliste</a></p>
        </div>
        <div class="column is-half">
          <img class="" src="http://localhost:3000/images/testgraph.png" alt="">
        </div>
      </div>
    </div>

    <div class="box">
      <div class="columns is-mobile has-text-centered">
        <div class="column is-half centered-text"> 
          <p class="is-size-3">9.a Matematik</p> 
          <p> <a>Se klasseliste</a></p> 
          <p> <a>Se opgaveliste</a></p> 
        </div>
        <div class="column is-half">
          <img src="http://localhost:3000/images/testgraph.png" alt="">
        </div>
      </div>
    </div>

    <div class="box">
      <p class="is-size-5">Lærerliste:</p>
      <br>
      <div class="columns has-text-centered">
        <div class="column">
          <p class="bd-notification is-info"> <strong>Nina Nielsen  </strong> <a>Se mere</a> </p>
        </div>
        <div class="column">
          <p class="bd-notification is-danger"> <strong>Bo Otter  </strong> <a>Se mere</a> </p>
        </div>
        <div class="column">
          <p class="bd-notification is-danger has-text-centered"> <strong>Ulrik Kno</strong> <a>Se mere</a> </p>
        </div>
        <div class="column">
          <p class="bd-notification is-danger has-text-centered"> <strong>Henning Honning</strong> <a>Se mere</a> </p>
        </div>  
      </div>
    </div>
  
  </div>

<script src="../js/bulma.js"></script>


</body>

</html>