<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://192.168.110.200:3000/index/1">
       <p>Aalborg universitet</p>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  


    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="http://192.168.110.200:3000/index/1" class="navbar-item">
          Hjem
        </a>
  
        <a href="http://192.168.110.200:3000/oversigt_opgaver/1" class="navbar-item">
         Opgaver
        </a>
  
        <a class="navbar-item">
            Hjælpemidler
          </a>

          <a href="http://192.168.110.200:3000/oversigt/1" class="navbar-item">
           Oversigt
          </a>  
       

      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Intranet</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>