<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Band Template</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
</head>

<body>
    <!-- nav bar -->
    <%- include('navbar') %>

  
  
      <!-- opgavebox -->
    <section class="section">
     <div class="container has-text-centered">
        <div class="box">
                     
             <div class="content">
                        <h1>Opgavenummer <%= opgave_ID %> </h1>
                <div class="content" >
                        <p>Opgave beskrivelse</p>
                        <p><%= opgavebeskrivelse %> </p> 
                    
                    <div class="content">
                        <div class="field columns is-centered" style="padding: 2rem ">
                            <div class="control">
                                <form method="POST" action="/opgaver/sendA">
                              <input class="input is-primary" type="text" placeholder="Indtast dit svar" name="svar">
                            </div>
                            <button class="button is-primary is-hovered" type="submit"> Indsend Svar</button>
                        </form>
                        </div>
                          
                    </div>
                 </div>
             </div>


                   <div class="columns is-mobile">
                    <div class="column is-half is-offset-one-quarter is-size-2"><p>TIME 120 sekunder</p></div>
                    <div class="column is-4 is-offset-two-quarter is-size-2">  <button class="button is-primary">Tilbage</button>  <button class="button is-primary">Næste</button>   </div>
                  </div>


         </div>
     </div>


         <div class="box is-centered has-text-centered is-size-2" style="padding: 2rem">
                    <button class="button is-warning is-hovered"> HINTS </button>
               <div>
                <p>Hint til opgave <%= opgave_ID %>  </p>
                <p>HER VISER VI HINTET</p>          
               </div>

        </div>


    </section>

  


   
        <script src="../js/bulma.js"></script>
</body>

</html>