<!DOCTYPE html>
<html lang="en">

<head>
<!--BASIC HTML-->    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oversigtopgaver</title>

<!--LINKS-->    
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css">

<!--SCRIPTS-->    
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    <script defer src="../js/bulma.js"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="../js.js"></script>
</head>

<body>
    <!-- nav bar -->
   <%- include('navbar')  %>

    
    <!--Oversigts body-->

    <div class="columns">
          
        <div class="column has-text-centered buttons are-large fagknapper">
            <br>
            <p class="is-size-2">Vælg fag</p>
            <br>
            <br>
            <br>

            <div class="button is-info is-fullwidth is-size-3 matbox" >
                <div class="is-primary">Matematik</div>
            </div>
            <br>
            <br>

            <div class="button is-danger is-fullwidth is-size-3"> 
                <div class="">Dansk</div>
            </div>
            <br>
            <br>   

            <div class="button is-warning is-fullwidth is-size-3"> 
                <div class="">Historie</div>
            </div>

        </div>

        <div class="column has-text-centered buttons are-large fagknapper container-right">
            <br>
            <p class="is-size-2">Ubesvaret Opgaver</p>
            <br>
            <br>
            <br>
            <a href="http://185.27.207.135:3000/opgaver/1"> 
                <div class="button  is-fullwidth opgavesætknapper is-size-3" >  
                    <div >
                        <p> Opgavesæt 3</p>
                        <p> Dato 01/05-2020</p>
                    </div>
                </div>
            </a>
            <br>
            
            <p class="is-size-2">Besvaret Opgaver</p>
            <br>

            <div class="button is-dark is-fullwidth opgavesætknapper is-size-3">
                <div>
                    <p> Opgavesæt 2</p>
                    <p> Dato 01/01-2020</p>
                </div>
            </div>
            <br>

            <section class="">
                <div class="button is-dark is-fullwidth opgavesætknapper is-size-3" >
                    <div >
                        <p> Opgavesæt 1</p>
                        <p> Dato 01/01-2020</p>
                    </div>
                </div>
            </section>

        </div>

    </div> 
</body>